.App {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;

  &__head {
    background-color: #1976d2;
    color: white;
  }

  &__row_title {
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ddd;
 }

 &__row_data {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
 }
 &__action-btn {
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
 }
 &__row_actions {
    width: 33px;
  }
 &__add-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    &:active{
      transform: scale(1.01);
    }
 }
}