.App {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;

  &__head {
    background-color: #1976d2;
    color: white;
  }

  &__row_title {
    padding: 12px 15px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ddd;
 }

 &__row_data {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
 }
 &__action-btn {
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
 }
 &__row_actions {
    width: 33px;
  }
 &__add-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    &:active{
      transform: scale(1.01);
    }
 }
 &__row-selected {
    background: gray;
  }
}
.action-menu {
  position: relative;
  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 6px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 70px;
    z-index: 100;
    overflow: hidden;
    &--up {
      top: auto;
      bottom: 100%;
      margin-bottom: 6px;
    }
    &_button {
        padding: 10px 14px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        &:hover {
          text-decoration: underline;
        }
    }
 }
}